    /* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    line-height: 1.5rem;
}

html {
    scroll-behavior: smooth;
}

    /* Color styles */
:root {
    --nav-bg: #0084FD;
    --cards-bg: #B5DDFF;
    --purple: #9792E4;
    --lastsection-color: #FDC15F;
    --footer-bg: #333333;
    --cards-color: #5A6E7F;
}

    /* utility */
h2, h3, h4 {
    line-height: 2rem;
}

main img {
    width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}

    /* HEADER */
header {
    background-color: var(--nav-bg)
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>a {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

    /* DEMO */
#demo {
    padding-bottom: 4rem;
}

.container {
    margin: 0 1.5rem;
}

.demo-cards {
    margin-top: 2.5rem;
    border-radius: 20px;
    padding: 2rem 2rem 0;
    background-color: var(--cards-bg);
}

#demo h3 {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--nav-bg);
    padding-bottom: 1.5rem;
}

#demo p {
    font-weight: 700;
    padding-bottom: 1.5rem;
    color: var(--cards-color);
}

#demo .button-cards{
    margin-bottom: 1.5rem;
    padding: 0.5rem 3rem;
    border-radius: 25px;
    font-weight: 700;
    display: inline-block;
    color: #FFFFFF;
    background-color: var(--nav-bg);
}

.button-cards .fa-apple {
    padding-right: 0.5rem;
}

.icon {
    font-size: 5rem;
    color: var(--nav-bg);
    padding-bottom: 1.5rem;
}

    /* PLANNING */
#planning {
    background-color: var(--purple);
}

.container-small {
    margin: 0 2rem;
    padding: 3rem 0;
}

#strategic {
    color: #FFFFFF;
}

#strategic h2 {
    font-size: 2rem;
    padding: 3rem 0;
}

    /* planning card */
.planning-card {
    margin-top: 2rem;
    padding: 2rem 1rem 1rem;
    background-color: #FFFFFF;
    border-radius: 40px;
}

.planning-card h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.cursive {
    font-style: italic;
}

.arrow {
    position: relative;
    margin-top: 1.5rem;
    background-color: var(--purple);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: inline-block;
}

.fa-arrow-down-long {
    position: absolute;
    top: 0.75rem;
    left: 0;
    right: 0;
}

    /* TESTIMONIALS */
#testimonials {
    padding: 2rem 0;
}

#testimonials h4 {
    font-weight: 400;
    padding-bottom: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

#testimonials h2 {
    font-size: 2rem;
    color: var(--purple);
    padding-bottom: 2rem;
}

.testimonials-cards {
    margin-top: 2rem;
    padding: 2rem 1rem 1rem;
    background-color: var(--purple);
    border-radius: 40px;
}

.partners {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.partners img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quote {
    color: #FFFFFF;
    padding-bottom: 1.5rem;
}

.quote::before {
    content: "\201C";
}

.quote::after {
    content: "\201D";
}

.name {
    color: #FFFFFF;
    font-weight: 700;
}

    /* FEATURES */
#features {
    padding: 2rem 0;
    background-color: var(--purple);
}

#features h2 {
    font-size: 2rem;
    color: #FFFFFF;
}

.features-cards {
    margin-top: 2.5rem;
    border-radius: 20px;
    padding: 3rem 1.5rem 1.5rem;
    background-color: #FFFFFF;
}

.numbers {
    font-size: 3rem;
    font-weight: 700;
    color: var(--purple);
    margin-bottom: 2rem;
}

.features-cards h3 {
    color: var(--purple);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.features-cards p {
    margin-bottom: 1rem;
    color: #8F8F8F;
}

.button-features {
    display: inline-block;
    padding: 0.5rem 3rem;
    border-radius: 25px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: var(--purple);
}

    /* ABOUT US */
#about-us {
    padding: 2rem 0;
}

.left-about h2 {
    font-size: 3rem;
    color: var(--purple);
    margin: 2rem 0;
}

.left-about p {
    margin-bottom: 2rem;
}

.image-about {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1rem 0;
}

.image-about img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.right-about h2 {
    font-size: 2rem;
    color: var(--purple);
    margin-bottom: 1.5rem;
}

.button-about {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: var(--purple);
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.fa-linkedin {
    padding-right: 0.5rem;
}

.image-about span {
    position: absolute;
    top: 5.375rem;
    right: -0.5rem;
    font-size: 14rem;
    color: var(--purple);
}

    /* GET STARTED */
#get-started {
    padding: 3rem 0 2rem;
    background-color: var(--purple);
}

#get-started .uppercase {
    font-weight: 400;
    padding-bottom: 1rem;
    color: #D5D4F4;
}

#get-started h3 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#get-started h2 {
    font-size: 3rem;
    margin: 1rem 0;
    color: var(--lastsection-color);
}

#get-started p {
    font-size: 0.9rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.button-get-started {
    display: inline-block;
    background-color: #FFFFFF;
    color: var(--purple);
    padding: 0.5rem 2.5rem;
    border-radius: 25px;
    font-weight: 700;
}

#get-started .copyright {
    margin-top: 1.5rem;
    font-size: 0.8rem;
}

#get-started .copyright a {
    text-decoration: underline;
}

#get-started .fa-circle {
    font-size: 0.3rem;
    vertical-align: middle;
}

    /* FOOTER */
footer {
    background-color: var(--footer-bg);
    padding: 2rem 0;
}

footer p {
    color: #FFFFFF;
}

footer a {
    color: var(--purple);
    text-decoration: underline;
}

footer p:first-of-type {
    margin-bottom: 3rem;
    font-size: 0.9rem;
}

footer p:last-of-type {
    font-size: 0.8rem;
}

    /* BONUS */
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

    /* MEDIA QUERY */

    /* MOBILE */
@media screen and (min-width: 320px) and (max-width: 1199px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 78px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu a {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu a {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>a:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

    /* TABLET */
@media screen and (min-width: 768px) {
    .container, .container-small {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .container-mini {
        max-width: 400px;
        margin: 0 auto;
    }
    .flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .flex-start {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .top-nav {
        padding: 1rem;
    }

    .demo-cards {
        width: calc((100% / 3) - 1.5rem);
    }

    .demo-cards:first-of-type {
        width: calc((100% / 3 * 2) - 0.75rem);
    }

    .demo-cards:first-of-type div:last-of-type {
        width: 50%;
    }

    #planning {
        padding: 5rem 0 3rem;
    }

    #planning h2 {
        font-size: 4rem;
        margin: 3rem 0 1rem;
    }

    #testimonials h2 {
        font-size: 2.7rem;
    }

    .partners-text {
        padding-top: 2.5rem;
        text-align: start;
    }

    .features-cards {
        width: 47%;
    }

    .partners img {
        width: 100%;
    }

    .partners-text {
        padding-left: 1.5rem;
        width: 65%;
    }

    .left-about p {
        line-height: 2rem;
    }

    .left-about {
        width: 52%;
        margin-bottom: 4rem;
    }

    .right-about {
        width: 38%;
    }
    
    #get-started h3 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

    /* DESKTOP */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .container-small {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .top-nav {
        padding: 1rem;
    }

    .menu {
        align-items: center;
    }

    .menu a{
        color: #FFFFFF;
    }

    .menu a:last-of-type {
        color: #000000;
        background-color: #FFFFFF;
        padding: 0.5rem 1rem;
        border-radius: 25px;
    } 

    .flex-inset {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #strategic, .planning-card {
        width: calc((100% / 2) - 1.5rem);
    }
    
    #strategic h2 {
        margin-top: 6rem;
        font-size: 2rem;
    }

    .planning-card {
        width: 35%;
        margin-top: 12rem;
    }

    .button-cards {
        text-align: center;
        width: 30%;
    }

    #phone {
        width: 64%;
        padding-top: 2rem;
    }

    .features-cards {
        width: calc((100% / 3) - 1.5rem);
    }
}